html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: #252839;
    color: #f2b632;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: yellow;
}


form div {
    margin: 15px;
}

form label {
    margin: 15px;
}

textarea {
    resize: horizontal;
    width: 99%;
    height: 100vh;
    font-size: 17px;
    padding: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: auto;
}

.saving-note {
    background: #fadc61;
    height: 40px;
    color: red;
    font-size: 16px;
    position: sticky;
    top: 10px;
}


.saving-note p {
    padding-top: 8px;
}

.notes-snippet {
    grid-column: 1;
    color: white;
}

.note-snippet {
    height: 70px;
    overflow: hidden;
    padding: 30px;
    line-height: 1.5;
    border: 1px solid black;
    font-size: 16px;
}

.note-snippet:hover {
    cursor: pointer;
}

.notes {
    grid-column: 2;
    position: fixed;
    top: 60px;
    right: 20px;
    width: 77vw;
    height: 100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

span.saving {
    color: red;
}

span.saved {
    color: green;
}

.note ~.note {
    display: none;
}

.url-title {
    float: left;
    margin: 8px 0px;
    width: 200px;
}

.note button {
    float: left;
    background: yellow;
    border: none;
    margin: 8px 15px 0px;
    padding: 3px 8px;
}

.share-form ~ .share-form {
    display: none;
    position: fixed;
}

.share-form div {
    float: left;
}

.share-info {
    width: auto;
    margin-top: 25px;
}
.share-message {
    float: right;
    margin-left: 10px;
    margin-top: 0px;
}

/* TOOLTIP */

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 0%;
    left: 240%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 0%;
    left: 240%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: visible;
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";*/
    /*filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);*/
    opacity: 1;
    transition-delay:0.3s;
}
