{% extends 'base.html.twig' %}

{% block body %}
    <p>Page with access only for logged-in users.</p>
    <div class="notes">
    {% for note in notes %}
        <div class="note">
        <textarea class="note-content">{{ note.content }}</textarea>
            <input type="hidden" name="id" class="note-id" value="{{ note.id }}" />
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/notes.js') }}"></script>
{% endblock %}